#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

TanStack
Virtual v3v3
Log In
Documentation
React Example: Fixed
Github
StackBlitz
CodeSandbox

Code Explorer
Interactive Sandbox










css

html {
    font-family: sans-serif;
    font-size: 14px;
}

body {
    padding: 1rem;
}

.List {
    border: 1px solid #e6e4dc;
    max-width: 100%;
}

.ListItemEven,
.ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ListItemEven {
    background-color: #e6e4dc;
}

button {
    border: 1px solid gray;
}

VirtualItem
    Variable
    Partners
    Code
    Rabbit
    Cloudflare
    AG
    Grid
    Netlify
    Neon
    WorkOS
    Clerk
    Convex
    Electric
    Sentry
    Prisma
    Strapi
    Unkey
    Subscribe
    to
    Bytes
    Your
    weekly
    dose
    of
    JavaScript
    news.
    Delivered
    every
    Monday
    to
    over
    100,
000 devs,
for
    free.
    Bytes
    Your
    email
    address
    Subscribe
    No
    spam.
    Unsubscribe
    at
    any
    time.
    Subscribe
    to
    Bytes
    .row {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    color: white;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
